<%= form_tag password_resets_path, :method => :post do %>
  <div class = "row">
    <div class = "large-12 columns">
      <h4>Reset Password</h4>
    </div>
  </div>  

  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="actions"><%= submit_tag "Reset Password",:class => 'postfix button expand'%></div>
<% end %>
